.nav {
  display: flex;
  justify-content: space-around;
}

.nav h1 {
  color: #ee9b00;
  text-shadow: 2px 2px #bb3e03;
}

.navul {
  display: flex;
  padding-top: 0.6rem;
}

.navul li {
  list-style: none;
  padding-left: 1.5rem;
  font-family: cursive;
  font-weight: bold;
}

.navul a {
  text-decoration: none;
}

.active {
  color: #ee9b00;
}

@media screen and (max-width: 768px) {
  .nav h1 {
    color: #ee9b00;
    text-shadow: 2px 2px #bb3e03;
    font-size: 1.2rem;
  }

}
