.calc-container {
  margin-left: 30%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.calculator {
  width: 20.5rem;
}

.initial-value {
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 1rem 0.5rem;
  background-color: #858693;
}

.item-wrapper {
  display: flex;
}

.numberItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #e0e0e0;
}

.numberItems button:nth-child(13) {
  grid-column: span 2;
}

.button {
  text-align: center;
  border: 1px solid #bababa;
  padding: 2.05rem;
  cursor: pointer;
}

#op-button {
  background-color: #e18132;
  width: 5rem;
}
